<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
   <nav class="navbar navbar-default navbar-fixed-top text-center">
  <div class="container2">
   
      <a href="/"><h2>Galvanize Reads</h2></a>
      <a href="/books/new"><h5 id='moves'>New Book</h5></a>
      <a href="/authors/new"><h5 id='move'>New Author</h5></a>

  </div>
</nav>

<div class="container">
  <div class="row">
      <div class="col-md-6"><a href="/books"><input class="btn btn-sm btn-danger btn-block col-md-6"  value='Books'/></a>
      </div>
      <div class="col-md-6"><a href="/authors"><input class="btn btn-sm btn-danger btn-block col-md-4"  value='Authors'/></a> 
      </div>
</div>
</div>  
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
